fieldset.inputs, fieldset.buttons {
  ol {
    margin: 0px;
    padding: 0px;
    li {
      list-style: none;
      padding: 0px;
      margin: 1em 0 !important;
      }
    }
  }
.fieldWithErrors {
  input, textarea {
    background: none repeat scroll 0 0 #FBE3E4;
    border: 1px solid #8A1F11 !important;
    }
  }
  
fieldset.inputs {
  
  font-family: "Lucida Grande",Helvetica,Arial,sans-serif;
  label {
    display: block;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
    }
  
  input[type="text"], input[type="password"] {
    border: 1px solid #999999;
    font-size: 20px;
    padding: 5px;
    width: 690px;
    }
  
  textarea {
    border: 1px solid #999999;
    font-size: 14px;
    padding: 5px;
    width: 690px;
    }
  textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
    background: none repeat scroll 0 0 #FFFCE1;
    }
    
  }
  
.errorExplanation {
  background: #FBE3E4;
  border: 2px solid #FBC2C4;
  color: #8a1f11;
  padding: 0 10px;
  h2 { display: none; }
  p {
    font-size: 12px;
    font-weight: bold;
    margin: 15px 0 10px 0!important;
    padding: 0 5px;
    }
  ul { margin: 0 0 10px 25px!important; }
  ul li {
    font-size: 12px;
    list-style: square!important; margin: 0!important;
    }
}

  
